@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020617] text-white antialiased overflow-x-hidden;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-2xl border border-white/10 shadow-2xl;
  }
  
  .text-glow {
    text-shadow: 0 0 20px rgba(249, 115, 22, 0.5);
  }
}

/* Scrollbar Premium */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}
